---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";
const pageTitle = "About";

import imgPortraitLagos from "/public/assets/images/about/portrait-lagos.webp";
import imgPortraitTavira from "/public/assets/images/about/portrait-tavira.webp";

import { getCollection } from 'astro:content';

const works = await getCollection('work');
---

<Base pageTitle={pageTitle}>
    <section class="dual-column with-border-top">
        <h1>About</h1>
        <div class="flow-2 color-text-65">
            <h2>My name is Ethan Perry. I currently work as a software developer and I enjoy creating things. Some of my hobbes include hiking, learning languages, pottery, and running. I currently live in the US.</h2>
            <h2>At heart, I have always been a writer and often write screenplays, essays, book reviews, and poems. Please read some of my writings if you are interested.</h2>
        </div>
    </section>

    <section class="dual-column with-dot grey margin-top-12">
        <div class="about--images">
            <img src={imgPortraitLagos.src} alt="ex1">
            <img src={imgPortraitTavira.src} alt="ex2">
        </div>
    </section>

    <section class="dual-column with-border-top margin-top-12">
        <h2>Work</h2>
        <ul class="flex-col-2 color-text-65">
            {works.map((work: any) =>
                    <li>
                        <h3 class="underline">{work.data.title}</h3>
                        <p>{work.data.description}</p>
                    </li>
            )}
        </ul>
    </section>

    <section class="dual-column with-border-top margin-top-12">
        <h2>CV</h2>
        <div>
            <Link href="/" icon={{name: "open-in-new", side: "right"}} classes="color-accent-70">View full resume</Link>
            <ul class="cv color-text-65 margin-top-2">
                <li class="role">
                    <h3>Software Engineer — HPE</h3>

                    <span class="fs-s">OCT 2023 — OCT 2024</span>

                    <p>Led the development and deployment of a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience. Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Python</li>
                        <li>SQL</li>
                        <li>Docker</li>
                        <li>AWS</li>
                        <li>ElasticSearch</li>
                    </ul>
                </li>
                <li class="role">
                    <h3>Lab Technician — HPE</h3>

                    <span class="fs-s">OCT 2023 — OCT 2024</span>

                    <p>Led the development and deployment of a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience. Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Python</li>
                        <li>SQL</li>
                        <li>Docker</li>
                        <li>AWS</li>
                        <li>ElasticSearch</li>
                    </ul>
                </li>
                <li class="role the">
                    <h3>Marketing Consultant — SharpNet Solutions</h3>
                    <span class="fs-s">AUG 2020 — NOV 2021</span>

                    <p>Managed client relationships and provided strategic advice on paid advertising, SEO campaigns, websites, and brand development. Boosted website conversions for a real estate company by 20%. Increased online revenue for a cake company by 50% within 12 months.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Web design</li>
                        <li>SEO</li>
                        <li>HTML / CSS</li>
                        <li>WordPress</li>
                        <li>Account management</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="dual-column with-border-top margin-top-12">
        <h2>Skills</h2>
        <ul class="flex-col-2 color-text-65">
            <li>
                <h3 class="underline">Programming Languages</h3>
                <p>Python, C#, SQL, Java, HTML, CSS</p>
            </li>
            <li>
                <h3 class="underline">Tools, Platforms, Frameworks</h3>
                <p>.NET, MongoDb, ElasticSearch, Astro, Vercel, Github, Docker, AWS, VMWare</p>
            </li>
            <li>
                <h3 class="underline">Other Skills</h3>
                <p>Server hardware installation and maintenance, network infrastructure management</p>
            </li>
        </ul>
    </section>
</Base>