---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";
const pageTitle = "About";

import image1 from "../wwwroot/assets/images/menu.webp";
import image2 from "../wwwroot/assets/images/leica.webp";
---

<Base pageTitle={pageTitle}>
    <section class="dual-column with-border-top">
        <h1>About</h1>
        <div class="flow-2 color-text-65">
            <h2>My name is Ethan Perry. I currently work as a software developer and I enjoy creating things. Some of my hobbes include hiking, learning languages, pottery, and running. I currently live in the US.</h2>
            <h2>At heart, I have always been a writer and often write screenplays, essays, book reviews, and poems. Please read some of my writings if you are interested.</h2>
        </div>
    </section>

    <section class="dual-column with-dot grey margin-top-12">
        <div class="about--images">
            <img src={image1.src} alt="ex1">
            <img src={image2.src} alt="ex2">
            <img src={image2.src} alt="ex2">
            <img src={image1.src} alt="ex1">
        </div>
    </section>

    <section class="dual-column with-about-border">
        <h2>Work</h2>
        <ul class="ul-flow">
            <li class="theme-grey">
                <h3>Sudoku App</h3>
                <p>I built a full-featured Sudoku web app in C#</p>
            </li>
            <li class="theme-grey">
                <h3>Portfolio Website</h3>
                <p>This website.</p>
            </li>
        </ul>
    </section>

    <section class="dual-column with-about-border">
        <h2>CV</h2>
        <ul class="cv">
            <li class="company " data-col-size="50px">
                <h3>HPE</h3>
                <ul class="roles">
                    <li class="role theme-grey">
                        <div class="flex">
                            <h4>Software Engineer</h4>
                            <span class="fs-s date">OCT 2023 — OCT 2024</span>
                        </div>

                        <p>Led the development and deployment of a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience. Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                        <ul role="list" class="role--tags color-text-35 fs-s">
                            <li>Python</li>
                            <li>SQL</li>
                            <li>Docker</li>
                            <li>AWS</li>
                            <li>ElasticSearch</li>
                        </ul>
                    </li>
                    <li class="role theme-grey">
                        <div class="flex">
                            <h4>Lab Technician</h4>
                            <span class="fs-s date">JUN 2023 — OCT 2023</span>
                        </div>

                        <p>Configured and maintained network infrastructure, ensuring optimal performance and minimizing downtime. Provided support for both local and international teams. Monitored and managed server health and performance, implementing troubleshooting protocols to resolve hardware and software issues efficiently.</p>

                        <ul class="role--tags color-text-35 fs-s">
                            <li>VMWare</li>
                            <li>Linux</li>
                            <li>Docker</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="company ">
                <h3>SharpNET Solutions</h3>
                <ul>
                    <li class="role theme-grey">
                        <div class="flex">
                            <h4>Marketing Consultant</h4>
                            <span class="fs-s date">AUG 2020 — NOV 2021</span>
                        </div>

                        <p>Managed client relationships and provided strategic advice on paid advertising, SEO campaigns, websites, and brand development. Boosted website conversions for a real estate company by 20%. Increased online revenue for a cake company by 50% within 12 months.</p>

                        <ul class="role--tags color-text-35 fs-s">
                            <li>Web design</li>
                            <li>SEO</li>
                            <li>HTML / CSS</li>
                            <li>WordPress</li>
                            <li>Account management</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="dual-column with-about-border">
        <h2>Skills</h2>
        <div class="theme-grey s">
            <h3>Programming Languages</h3>
            <p>Python, C#, SQL, Java, HTML, CSS</p>
            <h3>Tools, Platforms, Frameworks</h3>
            <p>.NET, MongoDb, ElasticSearch, Astro, Vercel, Github, Docker, AWS, VMWare</p>
            <h3>Other Skills</h3>
            <p>Server hardware installation and maintenance, network infrastructure management</p>
        </div>
    </section>
</Base>