---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";

const works = await getCollection("work");
const writings = await getCollection("writings");

const title = "Sitemap | Ethan Perry";
const description = "Full sitemap of website.";
---

<Base title={title} description={description}>
    <h1>Sitemap</h1>
    <ul class="sitemap margin-top-2">
        <li>
            <p class="color-accent-100">Main</p>
            <ul>
                <li><Link href="/">Home</Link></li>
                <li><Link href="/writings">Writings</Link></li>
                <li><Link href="/work">Work</Link></li>
                <li><Link href="/about">About</Link></li>
                <li><Link href="/contact">Contact</Link></li>
            </ul>
        </li>
        <li>
            <p class="color-accent-100">Work</p>
            <ul>
                {works.map((work: any) =>
                   	<li><Link href={`/work/${work.id}/`}>{work.data.title}</Link></li>
                )}
            </ul>
        </li>
        <li>
            <p class="color-accent-100">Writings</p>
            <ul>
                {writings.map((writing: any) =>
                    <li><Link href={`/writings/${writing.id}/`}>{writing.data.title}</Link></li>
                )}
            </ul>
        </li>
    </ul>
</Base>
