---
import Link from "./Link.astro";
---

<header class="content-grid">
    <nav class="breakout">
        <ul id="nav" class="nav" data-visible="false">
            <li><Link href="/" isNavLink={true}>Home</Link></li>
            <li><Link href="/projects" isNavLink={true}>Projects</Link></li>
            <li><Link href="/writings" isNavLink={true}>Writings</Link></li>
            <li><Link href="/work" isNavLink={true}>Work</Link></li>
            <li><Link href="/about" isNavLink={true}>About</Link></li>
            <li><Link href="/contact" isNavLink={true}>Contact</Link></li>
        </ul>

        <div class="mobile-nav-info">
            <div>

            </div>

            <div class="socials">
                <Link href="/" icon={{name: "github", side: "left"}}></Link>
                <Link href="/" icon={{name: "github"}}></Link>
                <Link href="/" icon={{name: "github"}}></Link>
                <Link href="/" icon={{name: "github"}}></Link>
            </div>
        </div>
    </nav>

    <button class="mobile-nav-toggle" aria-controls="nav" aria-expanded="false">
        <span ></span>
    </button>


</header>

<style>
    header {
        position: sticky;
        top: 0;

        margin-bottom: 14rem;
        padding-block: 2rem;

        background: var(--color-site-background);
        z-index: 997;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .nav li a[aria-current="page"] {
        cursor: default;
    }

    .mobile-nav-toggle, .mobile-nav-info {
        display: none;
    }

    @media (max-width: 768px) {
        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .nav {
            z-index: 998;
            background: steelblue;

            position: fixed;
            inset: 0 0 0 20%;

            padding: 8rem 3rem;

            font-size: var(--font-size-2);

            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            transform: translateX(100%);
            transition: transform 350ms ease-out;
        }

        .nav[data-visible="true"] {
            transform: translateX(0%);
        }

        .mobile-nav-toggle {
            display: block;
            border: 0;
            position: absolute;
            background: transparent url("/assets/icons/menu.svg") no-repeat;
            width: 2rem;
            aspect-ratio: 1;
            top: 3rem;
            right: 1rem;
            z-index: 999;
        }

        .mobile-nav-toggle[aria-expanded="true"] {
            background-image: url("/assets/icons/close.svg");
        }

        .mobile-nav-info {
            display: block;
        }
    }
</style>

<script>
    const nav = document.querySelector('.nav');
    const navToggle = document.querySelector('.mobile-nav-toggle');

    navToggle.addEventListener('click', () => {
        const visibility = nav.getAttribute('data-visible')
        if (visibility === 'false') {
            nav.setAttribute('data-visible', 'true')
            navToggle.setAttribute('aria-expanded', 'true')
        } else if (visibility === 'true') {
            nav.setAttribute('data-visible', 'false')
            navToggle.setAttribute('aria-expanded', 'false')
        }
    });
</script>