---
import Link from "./Link.astro";
---

<header class="content-grid">
    <button class="nav-toggle" aria-controls="nav" aria-expanded="false">Menu</button>

    <nav id="nav" class="nav" data-visible="false">
        <ul class="nav--pages">
            <li><Link href="/" isNavLink={true}>Home</Link></li>
            <li><Link href="/work" isNavLink={true}>Work</Link></li>
            <li><Link href="/writings" isNavLink={true}>Writings</Link></li>
            <li><Link href="/about" isNavLink={true}>About</Link></li>
            <li><Link href="/contact" isNavLink={true}>Contact</Link></li>
        </ul>

        <ul class="nav--socials">
            <li><Link href="/" classes="hover-text" icon={{name: "github", side: "left"}}></Link></li>
            <li><Link href="/" classes="hover-text" icon={{name: "linkedin", side: "left"}}></Link></li>
            <li><Link href="/" classes="hover-text" icon={{name: "instagram", side: "left"}}></Link></li>
            <li><Link href="/" classes="hover-text" icon={{name: "goodreads", side: "left"}}></Link></li>
        </ul>
    </nav>
</header>

<style>
    .nav-toggle {
        display: none;
    }

    nav {
        z-index: 998;

        position: sticky;
        top: 0;

        padding-block: 4rem 2rem;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        background: var(--color-site-background);
    }

    .nav--pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .nav--socials {
        display: none;
    }

    @media (width < 768px) {
        .nav-toggle {
            z-index: 999;

            position: absolute;

            display: block;

            top: 2rem;
            right: 2rem;
        }

        nav {
            position: fixed;
            inset: 0;

            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 2rem;

            padding: 2rem 2rem 6rem;

            font-size: var(--font-size-2);

            display: none;
            transform: translateY(5%);
            opacity: 0;

            transition: display 0.8s, transform 0.4s ease, opacity 0.2s ease-in-out;
            transition-behavior: allow-discrete;
        }

        nav[data-visible="true"] {
            display: flex;
            transform: translateY(0%);
            opacity: 1;

            @starting-style {
                display: flex;
                transform: translateY(5%);
                opacity: 0;
            }
        }

        .nav--pages {
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;
        }

        .nav--socials {
            display: flex;
            gap: 1.5rem;

            border-top: 1px solid var(--color-text-65);
            padding-top: 2rem;
        }
    }
</style>

<script>
    const nav = document.querySelector('.nav');
    const navToggle = document.querySelector('.nav-toggle');

    navToggle.addEventListener('click', () => {
        const visibility = nav.getAttribute('data-visible')
        if (visibility === 'false') {
            nav.setAttribute('data-visible', 'true')
            navToggle.setAttribute('aria-expanded', 'true')
        } else if (visibility === 'true') {
            nav.setAttribute('data-visible', 'false')
            navToggle.setAttribute('aria-expanded', 'false')
        }
    });
</script>