---
import Base from '../../layouts/Base.astro';
import Link from "../../components/Link/Link.astro";
import { getCollection } from 'astro:content';
import { sortCollectionByMostRecent } from '../../lib/dates.js';

const works = sortCollectionByMostRecent(await getCollection('work'));

const title = "Work | Ethan Perry";
const description = "A collection of projects, apps, and tools I've built—with detailed reports and breakdowns.";
---

<Base title={title} description={description}>
	<h1>Work</h1>
	<ul class="records">
		{works.map((work: any) =>
			<li>
				<Link href={`/work/${work.id}/`}>
					<div class="record">
						<span class="color-text-65 fs-s">{work.data.datePublished.toLocaleString('en-US', { month: 'short' })} {work.data.datePublished.getFullYear()}</span>
						<span>{work.data.title}: {work.data.description}</span>
					</div>
				</Link>
			</li>
		)}
	</ul>
</Base>
