---
import Base from '../../layouts/Base.astro';
const pageTitle = "Work";

import Link from "../../components/Link.astro";

import { getCollection } from 'astro:content';

const works = await getCollection('work');
---

<Base pageTitle={pageTitle}>
    <section>
        <h1>Recent Work</h1>

        <ul class="works">
            {works.map((work: any) =>
                    <li>
                        <Link href={`/work/${work.id}/`} classes="work">
                            <img src={work.data.image.src} alt={work.data.image.alt}>
                            <div class="work--content">
                                <ul class="scroller">
                                    {work.data.tags.map((tag: any) =>
                                            <li>{tag}</li>
                                    )}
                                </ul>

                                <div class="flow-col--5 temp">
                                    <h3>{work.data.title}</h3>
                                    <p class="ellipsis">{work.data.description}</p>
                                </div>
                            </div>
                        </Link>
                    </li>
            )}
        </ul>
    </section>
</Base>