---
import { getEntry, render } from "astro:content";
import Base from '../../layouts/Base.astro';
import SudokuComponent from '../../components/Sudoku.astro';
import { formatDate } from '../../wwwroot/js/utils';
import Link from "../../components/Link.astro";

const sudoku = await getEntry('work', 'sudoku')!;
const { title, description, seoTitle, seoDescription, datePublished, dateUpdated, image, tags, links } = sudoku.data;

const { Content } = await render(sudoku);
---
<Base title={seoTitle || title} description={seoDescription || description} metadata={{ datePublished, dateUpdated, tags }}>
	<section class="flow-1 max-width-70ch">
		<h1>{title}</h1>
		<p>{description}</p>
	</section>

	<section class="with-border-top">
		<span>Published {formatDate(datePublished)}</span>
        {dateUpdated && (
            <span>| Updated {formatDate(dateUpdated)}</span>
        )}

		{links && (
			<ul class="flex-row-1 flex-wrap margin-top-1">
                {links.map((link: any) =>
                    <li>
                        <Link href={link.url} classes="fs-base button" target="_blank" rel="noopener noreferrer">{link.text}</Link>
                    </li>
                )}
            </ul>
        )}
	</section>

    <SudokuComponent />

    <section class="max-width-70ch margin-top-4">
        <div class="prose">
            <Content />
        </div>
    </section>
</Base>
