---
import { Image } from "astro:assets";
import { formatDate } from '../lib/dates.js';

import Base from './Base.astro';
import Link from "../components/Link.astro";

const { frontmatter } = Astro.props;
const { title, description, seoTitle, seoDescription, datePublished, dateUpdated, image, tags, links, component } = frontmatter;
---

<Base title={seoTitle} | Ethan Perry` description={seoDescription} image={image} metadata={{ datePublished, dateUpdated, tags }}>
	<section>
		<span class="color-text-65 fs-s">{formatDate(datePublished)}</span>
		<h1 class="margin-top-1">{title}</h1>
		<p class="margin-top-1">{description}</p>

		{links && (
			<ul class="post--links color-text-65">
                {links.map((link: any) =>
                    <li><Link href={link.url}>{link.text}</Link></li>
                )}
			</ul>
    	)}

		{image && (
			<Image class="post--img margin-top-2" src={image.src} alt={image.alt} layout='constrained' style={`--_pos: ${image.position};`} />
		)}
	</section>

	<section class="prose full-width margin-top-2">
		<slot />
	</section>
</Base>
