---
import Base from './Base.astro';
import PostSidebar from '../components/PostSidebar.astro'
import { formatDate } from '../wwwroot/js/utils';
import Link from "../components/Link.astro";

const { frontmatter, previousPost, nextPost } = Astro.props;
const { title, description, date, category, author, image, tags } = frontmatter;
---

<Base pageTitle="Post">
    <section class="post-wrapper">
        <div class="post">
            <div class="post-hero">
                <h1>{title}</h1>
                <div class="post-metadata">
                    <span class="post-metadata-date">{formatDate(date)}</span>
                    <div class="post-metadata-tags">Categories: {tags.join(', ')}</div>
                </div>
            </div>

            <div class="post-content">
                <div>
                    <slot />
                </div>

                <ul class="post-nav" aria-label="Post Navigation">
                    <li>
                        {previousPost ? (
                                <Link href={previousPost.id} icon={{name: "arrow-left", side: "left"}}>
                                    Previous
                                    <span class="tooltip prev">{previousPost.title}</span>
                                </Link>
                        ) : (
                                <span class="disabled">Previous</span>
                        )}
                    </li>
                    <li>
                        {nextPost ? (
                                <Link href={nextPost.id} icon={{name: "arrow-right", side: "right"}}>
                                    Next
                                    <span class="tooltip next">{nextPost.title}</span>
                                </Link>
                        ) : (
                                <span class="disabled">Next</span>
                        )}
                    </li>
                </ul>

            </div>
        </div>
        <PostSidebar></PostSidebar>
    </section>
</Base>


