---
import Base from './Base.astro';
import { formatDate } from '../wwwroot/js/utils';
import Link from "../components/Link.astro";
const { frontmatter } = Astro.props;
const { title, description, seoTitle, seoDescription, datePublished, dateUpdated, image, tags, links } = frontmatter;
---

<Base title=`${seoTitle || title} | Case Study | Ethan Perry` description={seoDescription || description} image={image} metadata={{ datePublished, dateUpdated, tags }}>
    <h1 class="post--header">{title}</h1>

    <section class="dual-column metadata with-border-top margin-top-2">
        <div class="dates flex-col--5">
            <p>Published {formatDate(datePublished)}</p>
            {dateUpdated && (
                    <p>Updated {formatDate(dateUpdated)}</p>
            )}
        </div>

        <div class="flex-col-2">
            <h2 class="description color-text-80">{description}</h2>
            {links && (
                    <ul class="flex-row-1 flex-wrap">
                        {links.map((link: any) =>
                                <li>
                                    <Link href={link.url} classes="fs-base button">{link.text}</Link>
                                </li>
                        )}
                    </ul>
            )}
        </div>
    </section>

    {image && (
            <section class="post--image margin-top-4">
                <img src={image.src} alt={image.alt} srcset={image.srcset} sizes={image.sizes} />
            </section>
    )}

    <section class="single-column margin-top-4">
        <div class="prose">
            <slot />
        </div>
    </section>
</Base>