---
import Base from './Base.astro';
import { formatDate } from '../wwwroot/js/utils';
import Link from "../components/Link.astro";

const { frontmatter, previousPost, nextPost } = Astro.props;
const { title, description, datePublished, dateUpdated, image, tags } = frontmatter;
---

<Base title=`${title} | Ethan Perry` description={description} image={image} metadata={{ datePublished, dateUpdated, tags }}>
    <h1 class="">{title}</h1>

    <section>
        <div class="dual-column metadata with-border-top margin-top-2">
            <div class="dates">
                <p>Published {formatDate(datePublished)}</p>
                {dateUpdated && (
                        <p>Updated {formatDate(dateUpdated)}</p>
                )}
            </div>

            <h2 class="description">{description}</h2>
        </div>
    </section>

    {image && (
            <section class="post--image margin-top-4">
                <img src={image.src} alt={image.alt} srcset={image.srcset} sizes={image.sizes} />
            </section>
    )}

    <section class="single-column writing--content">
        <div class="prose">
            <slot />
            <nav class="with-border-top margin-top-4">
                <ul>
                    {previousPost && (
                            <li>
                                <Link href={previousPost.id} classes="theme-grey">
                                    <span>Previous post:</span>
                                    <div class="three-lines">{previousPost.title}</div>
                                </Link>
                            </li>
                    )}
                    {nextPost && (
                            <li>
                                <Link href={nextPost.id} classes="theme-grey">
                                    <span>Next post:</span>
                                    <div class="three-lines">{nextPost.title}</div>
                                </Link>
                            </li>
                    )}
                </ul>
            </nav>
        </div>
    </section>
</Base>