---
import Base from './Base.astro';
import { formatDate } from '../wwwroot/js/utils';
import Link from "../components/Link.astro";

const { frontmatter, previousPost, nextPost } = Astro.props;
const { title, description, date, category, author, image, tags } = frontmatter;
---

<Base pageTitle={title}>
    <h1>{title}</h1>

    <section>
        <div class="dual-column metadata with-border-top">
            <div class="dates">
                <p>Published Dec 23, 2025</p>
                <p>Updated Jan 08, 2026</p>
            </div>

            <h2 class="description">This is a technical report on three bugs that intermittently degraded responses from Claude. Below we explain what happened, why it took time to fix, and what we're changing.</h2>
        </div>
    </section>

    <section class="single-column writing--content">
        <div class="prose">
            <slot />
        </div>

        <nav class="with-border-top margin-top-4">
            <ul>
                {previousPost && (
                        <li>
                            <Link href={previousPost.id} classes="theme-grey">
                                <span>Previous post:</span>
                                <div class="two-lines">{previousPost.title}</div>
                            </Link>
                        </li>
                )}
                {nextPost && (
                        <li>
                            <Link href={nextPost.id} classes="theme-grey">
                                <span>Next post:</span>
                                <div class="two-lines">{nextPost.title}</div>
                            </Link>
                        </li>
                )}
            </ul>
        </nav>
    </section>
</Base>